* {
  font-family: Helvetica, sans-serif;
}

.App {
  max-width: 500px;
  margin: auto;
  padding: 42px 24px;
}

.StockEventsTable__card {
  margin: 12px 0;
  border: 2px solid #eee;
  padding: 24px;
  border-radius: 3px;
}

.StockDetail {
  cursor: pointer;
}
